{%load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Formulário para Nova Categoria</title>
</head>

<body>
    <header class="header">
        <nav>
            <ul class="header-links">
              <li><a href="/">Home</a></li>
              <li><a href="/categories/">Cadastrar Categorias</a>
            </ul>
        </nav>
    </header>

    <h1>Formulário para Nova Categoria</h1>

    <form method="post" action="/categories/">
      {% csrf_token %}
      <p>
          <label for="id_name">Nome:</label>
          <input type="text" name="name" maxlength="200" required id="id_name">
      </p>
      <button type="submit">Salvar</button>
  </form>
</body>
</html>